<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mumuoa.db.dao.UserMapper">
    <select id="haveRootUser" resultType="boolean">
        SELECT IF(COUNT(*), TRUE, FALSE)
        FROM tb_user
        WHERE root = 1;
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="hashmap" useGeneratedKeys="true">
        INSERT INTO
        tb_user
        SET
        <if test="openId != null">
            open_id = #{openId},
        </if>
        <if test="nickname != null">
            nickname = #{nickname},
        </if>
        <if test="photo != null">
            photo = #{photo},
        </if>
        <if test="name != null">
            `name` = #{name},
        </if>
        <if test="sex != null">
            sex = #{sex},
        </if>
        <if test="tel != null">
            tel = #{tel},
        </if>
        <if test="email != null">
            email = #{email},
        </if>
        <if test="hiredate != null">
            hiredate = #{hiredate},
        </if>
        `role` = #{role},
        root = #{root},
        <if test="deptName != null">
            dept_id = (SELECT tb_dept.id FROM tb_dept WHERE dept_name = #{deptName}),
        </if>
        `status` = #{status},
        create_time = #{createTime}
    </insert>

    <select id="searchIdByOpenId" parameterType="string" resultType="integer">
        SELECT id
        FROM tb_user
        WHERE open_id = #{openId}
        AND status = 1;
    </select>

    <select id="searchUserPermissions" parameterType="integer" resultType="java.lang.String">
        SELECT p.permission_name
        FROM tb_user u
        JOIN tb_role r ON JSON_CONTAINS(u.role, CAST(r.id AS char))
        JOIN tb_permission p ON JSON_CONTAINS(r.permissions, CAST(p.id AS char))
        WHERE u.id = #{userId}
        AND u.status = 1;
    </select>

    <select id="searchById" parameterType="integer" resultType="com.example.mumuoa.db.pojo.User">
        SELECT id,
        open_id,
        nickname,
        photo,
        name,
        sex,
        tel,
        email,
        hiredate,
        role,
        root,
        dept_id,
        status,
        create_time
        FROM tb_user
        WHERE id = #{userId}
    </select>
</mapper>